ul {
    margin-top: 50px;
    padding-left: 0;
    list-style-type: none;
}

.list-wrapper {
    border-bottom-style: solid;
    border-bottom-color: var(--ct-border-color);
    border-bottom-width: 1px;
}

.list-wrapper:hover {
    background-color: var(--ct-gray-color-hover);
}

.list-container {
    padding: 0 0 10px 0;
    margin: 10px 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;

}

.list-container::-webkit-scrollbar {
    width: 0;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0 10px 0;
}

.icon {
    margin-right: 5px;
}

.counter {
    color: var(--ct-gray-color);
    font-size: 12px;
}

.play-list-name {
    color: var(--ct-white-color);
    font-size: 17px;
    text-align: left;
}

.shuffle-icon {
    padding: 6px 10px;
    border-radius: 50%;
    transition: all .3s ease;
}

.shuffle-icon:hover {
    opacity: .7;
}

.shuffle {
    border: 1px solid var(--ct-white-color);
}

